[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
ipdb = "*"
ipython = "*"
flask = "*"
connexion = "*"
jwt = "*"
pytest = "*"
molotov = "*"
pika = "*"
flake8 = "*"
grpcio = "*"
grpcio-tools = "*"
googleapis-common-protos = "*"

[dev-packages]

[requires]
python_version = "3.7"
